.table-page-con {
	width: 100px;
	height: 100px;
	background-color: blue;
	margin: 10px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.tables-container {
	display: flex;
}
