.sign-in-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 3rem;
    gap:2rem;
    .sign-in-form-headings{
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        margin-left: -10rem;
    }
    .sign-in-form-title{
        font-size: 4.5rem;
        color: var(--green);
    }
    .sign-in-form-subtitle{
        font-size: 2rem;
    }
    .form-in-sign-btn{
        margin-top: 3rem;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        gap:10px;
    }

    @media (max-width: 1050px) {
        .sign-in-form-title{
            font-size: 3.5rem;
        }
        .sign-in-form-subtitle{
            font-size: 1.3rem;
        }
        .sign-in-form-headings{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0rem;
        }
        .form-in-sign-btn{
            width: 100%;
        }

    }

    @media (max-width: 400px) {
        .sign-in-form-title{
            font-size: 2.5rem;
        }
    }
}