.sign-up-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 2rem 5rem 1rem;
    gap:2rem;
    .sign-up-form-heading{
        margin-left: -17rem;
    }
    .sign-up-form-title{
        font-size: 4.5rem;
        color: var(--green);
    }
    .sign-up-form-subtitle{
        font-size: 2rem;
    }
    .form-up-sign-btn{
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        gap:10px;
        :nth-child(2){
            visibility: hidden;
        }
    }

    @media (max-width: 1050px) {
        .sign-up-form-title{
            font-size: 3.5rem;
        }
        .sign-up-form-subtitle{
            font-size: 1.3rem;
        }
        .sign-up-form-heading{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0rem;
        }
        .form-up-sign-btn{
            justify-content: center;
        }

    }
}