.sign-up-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem 1rem;
    gap:2rem;
    .sign-up-form-title{
        font-size: 3.5rem;
        color: var(--green);
    }
    .sign-up-form-subtitle{
        font-size: 1.8rem;
    }
    .form-up-sign-btn{
        margin-top: 1rem;
        width: 150%;
        display: flex;
        justify-content: flex-start;
    }
}