.directory {
	width: 100%;
	margin: 3rem 0;
	.directory-con {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.directory-heading {
		text-align: center;
		span {
			color: var(--green);
			font-weight: bolder;
		}
		.directory-heading-name {
			font-size: 5rem;
		}
	}
}
